COPYING
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
members
missing
romdump/Makefile.in
src/Makefile.in

# gwh 2022-03-24
Makefile
X48
config.h
config.log
config.status
romdump/
romdump/Makefile
rpm/
rpm/x48.spec
src/.deps/
src/.deps/actions.Po
src/.deps/checkrom.Po
src/.deps/debugger.Po
src/.deps/device.Po
src/.deps/disasm.Po
src/.deps/dump2rom.Po
src/.deps/emulate.Po
src/.deps/errors.Po
src/.deps/init.Po
src/.deps/lcd.Po
src/.deps/main.Po
src/.deps/memory.Po
src/.deps/mkcard.Po
src/.deps/options.Po
src/.deps/register.Po
src/.deps/resources.Po
src/.deps/romio.Po
src/.deps/rpl.Po
src/.deps/serial.Po
src/.deps/timer.Po
src/.deps/x48_x11.Po
src/
src/Makefile
src/actions.o
src/checkrom
src/checkrom.o
src/debugger.o
src/device.o
src/disasm.o
src/dump2rom
src/dump2rom.o
src/emulate.o
src/errors.o
src/init.o
src/lcd.o
src/main.o
src/memory.o
src/mkcard
src/mkcard.o
src/options.o
src/register.o
src/resources.o
src/romio.o
src/rpl.o
src/serial.o
src/timer.o
src/x48
src/x48.man
src/x48_x11.o
stamp-h1
