Source: x48
Section: x11
Priority: optional
Maintainer: G. Allen Morris III <gam3@gam3.net>
Build-Depends: debhelper (>= 5.0.0), libx11-dev, libxext-dev, pkg-config, libxt-dev, autoconf
Standards-Version: 3.8.2

Package: x48
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: a HP48 calculator emulator
 This is an emulator of the HP 48 SX and GX calculator.
 You will need a ROM dump to use it.
